---
const { category, post } = Astro.params;
import { getEntry } from "astro:content";
//@ts-ignore
const item = await getEntry("posts", post);
//@ts-ignore
const { Content } = await item.render();
import PageLayout from "../../../layouts/PageLayout.astro";
import Prose from "@/components/Prose.astro";
import { Button } from "@/components/ui/button";
import Meta from "@/components/Meta.astro";
---

<PageLayout
  title=`${item?.data.full_title}`
  description={item?.data.description}
>
  <a href="/">
    <Button>Back to all posts</Button>
  </a>
  <br />
  <br />
  <h1>{item?.data.full_title}</h1>
  <br />
  <Meta
    image={item?.data.image}
    author={item?.data.author}
    date={item?.data.date}
  />
  <br />
  <br />
  <div class="mt-[-10px] mb-[-20px] flex gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z"
      ></path>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 6h.008v.008H6V6Z"></path>
    </svg>

    <p>{category}</p>
  </div>
  <br />
  <br />
  <Prose>
    <Content />
  </Prose>
  <br />
  <hr />
  <br />
  <div class="text-start">
    <Button className="display:none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"
        ></path>
      </svg>
    </Button>
  </div>
</PageLayout>
