---
import { Button } from "@/components/ui/button";
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
import readingTime from "reading-time";
---

<PageLayout
  title="Naya's Blog"
  description="Welcome to my personal blog, where I write about various computer science topics!"
>
  <h1>Welcome to my blog</h1>
  <br />
  <p>
    Welcone to my personal blog, where I write about various computer science
    topics!
  </p>
  <br />
  <br />
  {
    posts
      .filter((post: any) => !post.data.draft)
      .map((post: any) => (
        <div class="pr-10 md:max-w-[50%]">
          <h2>{post.data.full_title}</h2>
          <br />
          <p>{post.data.excerpt}</p>
          <br />
          <p>{readingTime(String(post.content)).text}</p>
          <br />
          <a href={`/posts/${post.data.category}/${post.slug}`}>
            <Button>Read Post</Button>
          </a>
          <br />
          <br />
          <br />
        </div>
      ))
  }
</PageLayout>
